# Supabase Project Credentials
VITE_SUPABASE_URL=https://dmsceaqpkmcezcleqbtn.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImRtc2NlYXFwa21jZXpjbGVxYnRuIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODI3OTk2MDksImV4cCI6MjA5ODM3NTYwOX0.4S3_TS2d6obdMdMaSPqgi5Er4uBBqlSca_AdYUPPgFc
